<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a6dd6c64-35aa-4f32-ae55-2878b5a3c204/resourceGroups/VicGenesis/providers/Microsoft.Web/sites/VicGenesis2</ResourceId>
    <ResourceGroup>VicGenesis</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vicgenesis2.azurewebsites.net/Iteration1</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>vicgenesis2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>VicGenesis2/Iteration1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$VicGenesis2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="regionalDatabaseEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=vicgenesis.database.windows.net;Initial Catalog=regionalDatabase;Persist Security Info=True;User ID=SuperCollidersAdmin;Password=tp3_sc_rv;Application Name=EntityFramework" Name="Data Source=vicgenesis.database.windows.net;Initial Catalog=regionalDatabase;Persist Security Info=True;User ID=SuperCollidersAdmin;Password=tp3_sc_rv;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VicGenesis.regionalDatabaseEntities, VicGenesis" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="regionalDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/regionalDatabase.csdl|res://*/regionalDatabase.ssdl|res://*/regionalDatabase.msl;provider=System.Data.SqlClient;provider connection string="Data Source=vicgenesis.database.windows.net;Initial Catalog=regionalDatabase;Persist Security Info=True;User ID=SuperCollidersAdmin;Password=tp3_sc_rv;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>