@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us</h2>

<h4>Hi, here's Team SuperColliders</h4>
<h4>Thank you for your using and attention</h4>

<address>
    <strong>Know more about us at:</strong>   <a href="http://bit.ly/Living_In_Regional_Victoria_TP3_SuperColliders">Our Mahara Page</a><br />
</address>