@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--font-family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- title of site -->
    <title>VicGenesis</title>
    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="~/assets/logo/favicon.png" />

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <!--linear icon css-->
    <link rel="stylesheet" href="~/assets/css/linearicons.css">
    <!--animate.css-->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!--flaticon.css-->
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <!--slick.css-->
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/slick-theme.css">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- bootsnav -->
    <link rel="stylesheet" href="~/assets/css/bootsnav.css">

    <!--style.css-->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!--responsive.css-->
    <link rel="stylesheet" href="~/assets/css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!--header-top start -->
    </header><!--/.header-top-->
    <!--header-top end -->
    <!-- top-area Start -->
    <section class="top-area">
        <div class="header-area">
            <!-- Start Navigation -->
            <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
                <div class="container">
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <!--  <a class="navbar-brand" href="index.html">list<span>race</span></a>-->
                    </div><!--/.navbar-header-->
                    <!-- End Header Navigation -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class=" scroll active"><a href="#home">home</a></li>
                            <li class="scroll"><a href="#works">how it works</a></li>
                            @*<li class="scroll"><a href="#explore">explore</a></li>*@
                            @*<li class="scroll"><a href="#reviews">review</a></li>*@
                            @*<li class="scroll"><a href="#blog">Recommend</a></li>*@
                            <li><a href="~/Home/Contact">contact</a></li>
                        </ul><!--/.nav -->
                    </div><!-- /.navbar-collapse -->
                </div><!--/.container-->
            </nav><!--/nav-->
            <!-- End Navigation -->
        </div><!--/.header-area-->
        <div class="clearfix"></div>
    </section><!-- /.top-area-->
    <!-- top-area End -->
    <!--welcome-hero start -->
    <section id="home" class="welcome-hero">
        <div class="container">
            <div class="welcome-hero-txt">
                <h2>best place to find valuable information <br> about regional Victroia</h2>
                <p>
                    All for a better life!
                </p>
            </div>

        </div>
    </section><!--/.welcome-hero-->
    <!--welcome-hero end -->
    <!--list-topics start -->

    <section id="list-topics" class="list-topics">
        <div class="container">
            <div class="list-topics-content">
                <ul>

                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i class="flaticon-lightbulb-idea"></i>
                            </div>
                            <p>Stable</p>
                        </div>
                    </li>


                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i class="flaticon-lightbulb-idea"></i>
                            </div>
                            <p>Fast</p>
                        </div>
                    </li>

                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i class="flaticon-lightbulb-idea"></i>
                            </div>
                            <p>Friendly</p>
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i class="flaticon-lightbulb-idea"></i>
                            </div>
                            <p>Safe</p>
                        </div>
                    </li>
                    <li>
                        <div class="single-list-topics-content">
                            <div class="single-list-topics-icon">
                                <i class="flaticon-lightbulb-idea"></i>
                            </div>
                            <p>Valuable</p>
                        </div>
                    </li>

                </ul>
            </div>
        </div><!--/.container-->
    </section><!--/.list-topics-->
    <!--list-topics end-->
    <!--works start -->
    <section id="works" class="works">
        <div class="container">
            <div class="section-header">
                <h2>how it works</h2>
                <p>Here comes our functions!</p>
            </div><!--/.section-header-->
            <div class="works-content">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="single-how-works">
                            <div class="single-how-works-icon">
                                <i class="flaticon-location-on-road"></i>
                            </div>
                            <h2><a href="#">Show <span> me some</span> areas</a></h2>
                            <p>
                                At here, you can preview all areas we found and find the details for each of them.
                            </p>
                            <a href="~/Victorias/Index">
                                <button class="welcome-hero-btn how-work-btn">
                                    Try it now!
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="single-how-works">
                            <div class="single-how-works-icon">
                                <i class="flaticon-networking"></i>
                            </div>
                            <h2><a href="#">find <span> areas by </span>culture group</a></h2>
                            <p>
                                Here you can find a community that is more suitable for your own culture! No more need to worry about being lonely.
                            </p>
                            <a href="~/Victorias/SelectGroup">
                                <button class="welcome-hero-btn how-work-btn">
                                    Try it now!
                                </button>
                            </a>
                        </div>
                    </div>
                    @*<div class="col-md-4 col-sm-6">
                            <div class="single-how-works">
                                <div class="single-how-works-icon">
                                    <i class="flaticon-location-on-road"></i>
                                </div>
                                <h2><a href="#">explore <span> amazing</span> place</a></h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempor incididunt ut laboremagna aliqua.
                                </p>
                                <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                                    read more
                                </button>
                            </div>
                        </div>*@
                </div>
            </div>
        </div><!--/.container-->
        @*<!-- statistics end -->
            <!--blog start -->
            <section id="blog" class="blog">
                <div class="container">
                    <div class="section-header">
                        <h2>Recommendations</h2>
                        <p>What You Should Never Miss </p>
                    </div><!--/.section-header-->
                    <div class="blog-content">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="single-blog-item">
                                    <div class="single-blog-item-img">
                                        <img src="~/assets/images/blog/b1.jpg" alt="blog image">
                                    </div>
                                    <div class="single-blog-item-txt">
                                        <h2><a href="#">How to find your Desired Place more quickly</a></h2>
                                        <h4>posted <span>by</span> <a href="#">admin</a> march 2019</h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur de adipisicing elit, sed do eiusmod tempore incididunt ut labore et dolore magna.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="single-blog-item">
                                    <div class="single-blog-item-img">
                                        <img src="~/assets/images/blog/b2.jpg" alt="blog image">
                                    </div>
                                    <div class="single-blog-item-txt">
                                        <h2><a href="#">How to find your Desired Place more quickly</a></h2>
                                        <h4>posted <span>by</span> <a href="#">admin</a> march 2019</h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur de adipisicing elit, sed do eiusmod tempore incididunt ut labore et dolore magna.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="single-blog-item">
                                    <div class="single-blog-item-img">
                                        <img src="~/assets/images/blog/b3.jpg" alt="blog image">
                                    </div>
                                    <div class="single-blog-item-txt">
                                        <h2><a href="#">How to find your Desired Place more quickly</a></h2>
                                        <h4>posted <span>by</span> <a href="#">admin</a> march 2019</h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur de adipisicing elit, sed do eiusmod tempore incididunt ut labore et dolore magna.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.container-->

            </section><!--/.blog-->*@
        <!--blog end -->
        <!--subscription strat -->


        <div id="scroll-Top">
            <div class="return-to-top">
                <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
            </div>

        </div><!--/.scroll-Top-->
        </footer><!--/.footer-->
        <!--footer end-->
        <!-- Include all js compiled plugins (below), or include individual files as needed -->
        <script src="~/assets/js/jquery.js"></script>

        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

        <!--bootstrap.min.js-->
        <script src="~/assets/js/bootstrap.min.js"></script>

        <!-- bootsnav js -->
        <script src="~/assets/js/bootsnav.js"></script>
        <!--feather.min.js-->
        <script src="~/assets/js/feather.min.js"></script>
        <!-- counter js -->
        <script src="~/assets/js/jquery.counterup.min.js"></script>
        <script src="~/assets/js/waypoints.min.js"></script>
        <!--slick.min.js-->
        <script src="~/assets/js/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!--Custom JS-->
        <script src="~/assets/js/custom.js"></script>

</body>

</html>